<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create Comic</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Create Comic</h1>

        <div class="oj-flex oj-flex-init">
            <div class="oj-flex oj-flex-item">
                <oj-form-layout id="form-container">
                    <oj-label  for="createNewName">Nombre</oj-label>
                    <oj-input-text id="createNewName" value='{{newItem.nombre}}'></oj-input-text>
                    <oj-label for="createNewIsbn">ISBN</oj-label>
                    <oj-input-text id="createNewName" value='{{newItem.isbn}}'></oj-input-text>
                    <oj-label for="createAnotacionPrivada">Anotacion Privada</oj-label>
                    <oj-input-text id="createNewName" value='{{newItem.anotacion_privada}}'></oj-input-text>
                    <oj-button id="createComic" on-oj-action="[[createComic]]">Create</oj-button>
                </oj-form-layout>
            </div>
        </div>
    </body>
</html>
